---
###############################################################################
# API Lists
###############################################################################
# Manage PiHole lists via REST API.
#
# Determine which lists to delete from PiHole; and calculate newly added
# lists vs. pre-existing lists for updates. Existing lists types are required
# to correctly query API for updates.
#
# Reference:
# * https://ftl.pi-hole.net/master/docs/#post-/lists

- name: 'API | lists | query all'
  ansible.builtin.uri:
    url: '{{ _pihole_srv_api.raw ~ "/lists" }}'
    method: 'GET'
    headers:
      X-FTL-SID: '{{ _pihole.token }}'
      X-CSRF-TOKEN: '{{ _pihole.csrf }}'
    status_code: [200]
    validate_certs: '{{ _pihole_srv_api_validate_enable.raw }}'
  register: _pihole_api

- name: 'API | domains | parse lists'
  ansible.builtin.set_fact:
    _pihole_lists: '{{ _pihole_api.json.lists }}'

- name: 'API | lists | parse existing lists'
  ansible.builtin.set_fact:
    _pihole_lists_del: '{{
        _pihole_lists | map(attribute="address") | list |
        difference(_pihole_cfg_mgmt_lists._lists)
      }}'
    _pihole_lists_add: '{{
        _pihole_cfg_mgmt_lists._lists |
        difference(_pihole_lists | map(attribute="address") | list)
      }}'

- name: 'API | lists | parse modified lists'
  ansible.builtin.set_fact:
    _pihole_lists_mod: '{{
        _pihole_lists | map(attribute="address") | list |
        intersect(_pihole_cfg_mgmt_lists._lists) |
        reject("in", _pihole_clients_add)
      }}'

- name: 'API | lists | remove non-managed list'
  ansible.builtin.uri:
    url: '{{
        _pihole_srv_api.raw ~ "/lists/" ~
        (list.address | urlencode | regex_replace("/", "%2F")) ~
        "?type=" ~ list.type
      }}'
    method: 'DELETE'
    headers:
      X-FTL-SID: '{{ _pihole.token }}'
      X-CSRF-TOKEN: '{{ _pihole.csrf }}'
    status_code: [204]
    body:
      sid: '{{ _pihole.token }}'
      csrf: '{{ _pihole.csrf }}'
    body_format: 'json'
    validate_certs: '{{ _pihole_srv_api_validate_enable.raw }}'
  vars:
    list: '{{
        _pihole_lists |
        selectattr("address", "==", item) | list | first
      }}'
  loop: '{{ _pihole_lists_del }}'

- name: 'API | lists | add managed list'
  ansible.builtin.uri:
    url: '{{ _pihole_srv_api.raw ~ "/lists" ~ "?type=" ~ list.type }}'
    method: 'POST'
    headers:
      X-FTL-SID: '{{ _pihole.token }}'
      X-CSRF-TOKEN: '{{ _pihole.csrf }}'
    status_code: [201]
    body:
      address: '{{ list.address }}'
      type: '{{ list.type }}'
      comment: '{{ list.comment }}'
      groups: '{{ list.groups | map("extract", _pihole.groups) | list }}'
      enabled: '{{ list.enabled }}'
    body_format: 'json'
    validate_certs: '{{ _pihole_srv_api_validate_enable.raw }}'
  vars:
    list: '{{
        _pihole_cfg_mgmt_lists.raw |
        selectattr("address", "==", item) | list | first
      }}'
  loop: '{{ _pihole_lists_add }}'

- name: 'API | lists | update managed list'
  ansible.builtin.uri:
    url: '{{
        _pihole_srv_api.raw ~ "/lists/" ~
        (current.address | urlencode | regex_replace("/", "%2F")) ~
        "?type=" ~ current.type
      }}'
    method: 'PUT'
    headers:
      X-FTL-SID: '{{ _pihole.token }}'
      X-CSRF-TOKEN: '{{ _pihole.csrf }}'
    status_code: [200]
    body:
      comment: '{{ update.comment }}'
      type: '{{ update.type }}'
      groups: '{{ update.groups | map("extract", _pihole.groups) | list }}'
      enabled: '{{ update.enabled }}'
    body_format: 'json'
    validate_certs: '{{ _pihole_srv_api_validate_enable.raw }}'
  vars:
    current: '{{
        _pihole_lists | selectattr("address", "==", item) | list | first
      }}'
    update: '{{
        _pihole_cfg_mgmt_lists.raw |
        selectattr("address", "==", item) | list | first
      }}'
  loop: '{{ _pihole_lists_mod }}'
