---
###############################################################################
# Pi-Hole Handlers
###############################################################################

# pihole restartdns restarts all required pihole services.
# Reference: https://discourse.pi-hole.net/t/the-pihole-command-with-examples/738
- name: 'Restart pihole dns'  # noqa no-changed-when
  ansible.builtin.command: '/etc/.pihole/automated\ install/basic-install.sh --reconfigure --unattended'
