#; Pi-hole FTL config file
#; Comments should start with #; to avoid issues with PHP and bash reading this file
#; DNS
BLOCKINGMODE={{ pihole_ftl_blockingmode|default('null')|upper }}
CNAME_DEEP_INSPECT={{ pihole_ftl_cname_deep_inspect|default(true)|string|lower }}
BLOCK_ESNI={{ pihole_ftl_block_esni|default(true)|string|lower }}
EDNS0_ECS={{ pihole_ftl_edns0_ecs|default(true)|string|lower }}
RATE_LIMIT={{ pihole_ftl_rate_limit|default('1000/60') }}
LOCAL_IPV4={{ pihole_ftl_local_ipv4|default('') }}
LOCAL_IPV6={{ pihole_ftl_local_ipv6|default('') }}
BLOCK_IPV6={{ pihole_ftl_block_ipv4|default('') }}
BLOCK_IPV6={{ pihole_ftl_block_ipv6|default('') }}
REPLY_WHEN_BUSY={{ pihole_ftl_reply_when_busy|default('drop')|upper }}
MOZILLA_CANARY={{ pihole_ftl_mozilla_canary|default(true)|string|lower }}
BLOCK_TTL={{ pihole_ftl_block_ttl|default(2)|int }}
BLOCK_ICLOUD_PR={{ pihole_ftl_block_icloud_pr|default(true)|string|lower }}
#; Statistics
{# Records hours, but is a float in documentation. Force float. #}
MAXLOGAGE={{ pihole_ftl_maxlogage|default(24)|float }}
PRIVACYLEVEL={{ pihole_ftl_privacylevel|default(0)|int }}
IGNORE_LOCALHOST={{ 'yes' if pihole_ftl_ignore_localhost else 'no' }}
AAAA_QUERY_ANALYSIS={{ 'yes' if pihole_ftl_aaaa_query_analysis else 'no' }}
ANALYZE_ONLY_A_AND_AAAA={{ pihole_ftl_analyze_only_a_and_aaaa|default(false)|string|lower }}
SHOW_DNSSEC={{ pihole_ftl_show_dnssec|default(true)|string|lower }}
#; Other
SOCKET_LISTENING={{ pihole_ftl_socket_listening|default('localonly')|lower }}
FTLPORT={{ pihole_ftl_port|default(4711)|int }}
RESOLVE_IPV4={{ 'yes' if pihole_ftl_resolve_ipv4 else 'no' }}
RESOLVE_IPV6={{ 'yes' if pihole_ftl_resolve_ipv6 else 'no' }}
PIHOLE_PTR={{ pihole_ftl_pihole_ptr|default('pi.hole')|upper }}
DELAY_STARTUP={{ pihole_ftl_delay_startup|default(0)|int }}
NICE={{ pihole_ftl_nice|default(-10)|int }}
MAXNETAGE={{ pihole_ftl_maxnetage|default(365)|int }}
NAMES_FROM_NETDB={{ pihole_ftl_names_from_netdb|default(true)|string|lower }}
REFRESH_HOSTNAMES={{ pihole_ftl_refresh_hostnames|default('ipv4')|upper }}
PARSE_ARP_CACHE={{ pihole_ftl_parse_arp_cache|default(true)|string|lower }}
CHECK_LOAD={{ pihole_ftl_check_load|default(true)|string|lower }}
CHECK_SHMEM={{ pihole_ftl_check_shmem|default(90)|int }}
CHECK_DISK={{ pihole_ftl_check_disk|default(90)|int }}
#; Database
DBIMPORT={{ 'yes' if pihole_ftl_dbimport else 'no' }}
MAXDBDAYS={{ pihole_ftl_maxdbdays|default(365)|int }}
{# Records minutes, but is a float in documentation. Force float. #}
DBINTERVAL={{ pihole_ftl_dbinterval|default(1)|float }}
DBFILE={{ pihole_ftl_dbfile|default('/etc/pihole/pihole-FTL.db') }}
#; Files
LOGFILE={{ pihole_ftl_logfile|default('/var/log/pihole/FTL.log') }}
PIDFILE={{ pihole_ftl_pidfile|default('/run/pihole-FTL.pid') }}
SOCKETFILE={{ pihole_ftl_socketfile|default('/run/pihole/FTL.sock') }}
SETUPVARSFILE={{ pihole_ftl_setupvarsfile|default('/etc/pihole/setupVars.conf') }}
MACVENDORDB={{ pihole_ftl_macvendordb|default('/etc/pihole/macvendor.db') }}
GRAVITYDB={{ pihole_ftl_gravitydb|default('/etc/pihole/gravity.db') }}
#; Debug
DEBUG_ALL={{ pihole_ftl_debug_all|default(false)|string|lower }}
DEBUG_DATABASE={{ pihole_ftl_debug_database|default(false)|string|lower }}
DEBUG_NETWORKING={{ pihole_ftl_debug_networking|default(false)|string|lower }}
DEBUG_EDNS0={{ pihole_ftl_debug_edns0|default(false)|string|lower }}
DEBUG_LOCKS={{ pihole_ftl_debug_locks|default(false)|string|lower }}
DEBUG_QUERIES={{ pihole_ftl_debug_queries|default(false)|string|lower }}
DEBUG_FLAGS={{ pihole_ftl_debug_flags|default(false)|string|lower }}
DEBUG_SHMEM={{ pihole_ftl_debug_shmem|default(false)|string|lower }}
DEBUG_GC={{ pihole_ftl_debug_gc|default(false)|string|lower }}
DEBUG_ARP={{ pihole_ftl_debug_arp|default(false)|string|lower }}
DEBUG_REGEX={{ pihole_ftl_debug_regex|default(false)|string|lower }}
DEBUG_API={{ pihole_ftl_debug_api|default(false)|string|lower }}
DEBUG_OVERTIME={{ pihole_ftl_debug_overtime|default(false)|string|lower }}
DEBUG_STATUS={{ pihole_ftl_debug_status|default(false)|string|lower }}
DEBUG_CAPS={{ pihole_ftl_debug_caps|default(false)|string|lower }}
DEBUG_DNSMASQ_LINES={{ pihole_ftl_debug_dnsmasq_lines|default(false)|string|lower }}
DEBUG_VECTORS={{ pihole_ftl_debug_vectors|default(false)|string|lower }}
DEBUG_RESOLVER={{ pihole_ftl_debug_resolver|default(false)|string|lower }}
{# Duplicated: DEBUG_EDNS0 pihole_ftl_debug_edns0: false #}
DEBUG_CLIENTS={{ pihole_ftl_debug_clients|default(false)|string|lower }}
DEBUG_ALIASCLIENTS={{ pihole_ftl_debug_aliasclients|default(false)|string|lower }}
DEBUG_EVENTS={{ pihole_ftl_debug_events|default(false)|string|lower }}
DEBUG_HELPER={{ pihole_ftl_debug_helper|default(false)|string|lower }}
ADDR2LINE={{ pihole_ftl_addr2line|default(true)|string|lower }}
DEBUG_EXTRA={{ pihole_ftl_debug_extra|default(false)|string|lower }}
