ADMIN_EMAIL={{ pihole_admin_email }}
WEBUIBOXEDLAYOUT={{ pihole_webui_boxed_layout }}
WEBTHEME={{ pihole_webtheme }}
WEBPASSWORD={{ pihole_webpassword | hash('sha256') | hash('sha256') }}
DNSSEC={{ pihole_dnssec | bool | lower }}
REV_SERVER={{ pihole_rev_server | bool | lower }}
BLOCKING_ENABLED={{ pihole_blocking_enabled | bool | lower }}
IPV4_ADDRESS={{ pihole_ipv4_address }}
IPV6_ADDRESS={{ pihole_ipv6_address }}
PIHOLE_INTERFACE={{ pihole_pihole_interface }}
PIHOLE_DNS_1={{ pihole_pihole_dns_1 }}
PIHOLE_DNS_2={{ pihole_pihole_dns_2 }}
QUERY_LOGGING={{ pihole_query_logging | bool | lower }}
INSTALL_WEB_SERVER={{ pihole_install_web_server | bool | lower }}
INSTALL_WEB_INTERFACE={{ pihole_install_web_interface }}
LIGHTTPD_ENABLED={{ pihole_lighttpd_enabled | bool | lower }}
CACHE_SIZE={{ pihole_cache_size }}
DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required | bool | lower }}
DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv | bool | lower }}
DNSMASQ_LISTENING={{ pihole_dnsmasq_listening }}
